
.icon-mail:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */